.chatExplorerContainer {
  height: max-content;
  width: 1110px;
  border: 2px solid black;
  border-bottom: none;
}

.headerContainer {
  height: 75px;
  width: inherit;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
}

.profilePicContainer {
  height: inherit;
  width: 100px;
  /* border: 2px solid black; */
}

.profileNamesContainer {
  height: inherit;
  width: 400px;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.addParticipantContainer {
  height: inherit;
  width: 75px;
  /* border: 2px solid black; */
}

.profilePic {
  height: 70px;
  width: 70px;
  border-radius: 80%;
  /* border: 2px solid black; */
  /* background-color: rgba(0, 0, 0, 0.3); Black partially transparent background */
  /* border: 2px solid black; */
}

.profilePictureList {
  list-style: none;
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 0;
}

.profileName {
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  /* border: 2px solid black; */
  margin-top: 10px;
}

.conversationContainer {
  /* border: 2px solid black; */
  height: inherit;
  width: inherit;
}

.receivedChatMessageContainer {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  float: left;
  margin-left: 30px;
}

.receivedChatAvatar {
  margin-right: 20px;
  margin-top: 5px;
}

.received_messg_profilePic {
  height: 50px;
  width: 50px;
  border-radius: 80%;
}

.receivedMessage {
  /* border: 2px solid black; */
  /* display: inline-block; */
  width: max-content;
  /* max-width: 200px; */
  margin-top: 5px;
  background-color: rgb(0, 0, 0, 0.2);
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  padding: 10px 10px 10px 10px;
  margin-left: 10px;
  border-radius: 10px;
}

.conversationList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 555px;
  overflow-y: auto;
  border: 2px solid black;
}

.conversationList::-webkit-scrollbar {
  display: none;
}

.chatInfoContainer {
  display: flex;
  /* border: 2px solid black; */
  align-content: center;
  justify-content: center;
}

.chat_time {
  /* display: inline-block; */
  padding-top: 20px;
}

.outgoingChatMessageContainer {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  float: right;
  margin-right: 30px;
}

.outgoingMessageChatAvatar {
  margin-right: 20px;
  margin-top: 5px;
}

.outgoing_messg_profilePic {
  height: 50px;
  width: max-content;
  border-radius: 80%;
}

.outgoingMessage {
  /* border: 2px solid black; */
  display: inline-block;
  width: max-content;
  /* max-width: 200px; */
  margin-top: 20px;
  background-color: rgb(0, 0, 0, 0.2);
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  padding: 10px 10px 10px 10px;
  margin-left: 10px;
  border-radius: 10px;
}

.optionsContainer {
  height: 100px;
  width: 1080px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  /* align-content: center; */
  /* padding-right: 30px; */
  padding-left: 30px;
}

.attchmentContainer {
  height: 40px;
  width: 50px;
  margin-top: 20px;
  /* border: 2px solid black; */
  cursor: pointer;
}

.messageInputContainer {
  height: 50px;
  width: 600px;
  margin-top: 20px;
  /* border: 2px solid black; */
  display: flex;
}

.sendMessageContainer {
  height: 50px;
  width: 50px;
  margin-left: 20px;
  /* border: 2px solid black; */
  cursor: pointer;
}

.sendMessageButton {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.messageInputContainer input {
  height: 50px;
  width: 500px;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  border: none;
}

.attchImage {
  height: 50px;
  width: 35px;
}

.addParticipantContainer {
  height: 50px;
  width: 50px;
  /* border: 2px solid black; */
  margin-top: 15px;
  margin-right: 10px;
}

.addParticipant{
  height: 50px;
  width: 50px;
}
